[submodule "hdl/ip_cores/general-cores"]
	path = hdl/ip_cores/general-cores
	url = https://github.com/lerwys/general-cores.git
[submodule "hdl/ip_cores/concordic"]
	path = hdl/ip_cores/concordic
	url = git@github.com:aylons/concordic.git
