# Matlab files
*.asv
*.log

# Swap files
*.orig
*.swap
*.bak

# Repo-specific files
*.samples
/bpm-sim/Matlab/bpm/dbe/matlab.mat
/bpm-sim/Matlab/bpm/dbe/dds_cos.nif
/bpm-sim/Matlab/bpm/dbe/dds_sin.nif
/bpm-sim/Matlab/dds_cos.nif
/bpm-sim/Matlab/dds_sin.nif
/hdl/modules/machine/*/cos_lut_uvx_18_65
!/hdl/modules/machine/*/cos_lut_uvx_18_65/*.xci
!/hdl/modules/machine/*/cos_lut_uvx_18_65/*.xml
!/hdl/modules/machine/*/cos_lut_uvx_18_65/*.coe
!/hdl/modules/machine/*/cos_lut_uvx_18_65/*.mif
!/hdl/modules/machine/*/cos_lut_uvx_18_65/synth/*.vhd
/hdl/modules/machine/*/sin_lut_uvx_18_65
!/hdl/modules/machine/*/sin_lut_uvx_18_65/*.xci
!/hdl/modules/machine/*/sin_lut_uvx_18_65/*.xml
!/hdl/modules/machine/*/sin_lut_uvx_18_65/*.coe
!/hdl/modules/machine/*/sin_lut_uvx_18_65/*.mif
!/hdl/modules/machine/*/sin_lut_uvx_18_65/synth/*.vhd
/hdl/modules/machine/*/sw_windowing_n_251_tukey_0_2
!/hdl/modules/machine/*/sw_windowing_n_251_tukey_0_2/*.xci
!/hdl/modules/machine/*/sw_windowing_n_251_tukey_0_2/*.xml
!/hdl/modules/machine/*/sw_windowing_n_251_tukey_0_2/*.coe
!/hdl/modules/machine/*/sw_windowing_n_251_tukey_0_2/*.mif
!/hdl/modules/machine/*/sw_windowing_n_251_tukey_0_2/synth/*.vhd
/hdl/modules/machine/*/sin_lut_uvx_35_148
!/hdl/modules/machine/*/sin_lut_uvx_35_148/*.xci
!/hdl/modules/machine/*/sin_lut_uvx_35_148/*.xml
!/hdl/modules/machine/*/sin_lut_uvx_35_148/*.coe
!/hdl/modules/machine/*/sin_lut_uvx_35_148/*.mif
!/hdl/modules/machine/*/sin_lut_uvx_35_148/synth/*.vhd
/hdl/modules/machine/*/cos_lut_uvx_35_148
!/hdl/modules/machine/*/cos_lut_uvx_35_148/*.xci
!/hdl/modules/machine/*/cos_lut_uvx_35_148/*.xml
!/hdl/modules/machine/*/cos_lut_uvx_35_148/*.coe
!/hdl/modules/machine/*/cos_lut_uvx_35_148/*.mif
!/hdl/modules/machine/*/cos_lut_uvx_35_148/synth/*.vhd
/hdl/modules/machine/*/sin_lut_sirius_52_181
!/hdl/modules/machine/*/sin_lut_sirius_52_181/*.xci
!/hdl/modules/machine/*/sin_lut_sirius_52_181/*.xml
!/hdl/modules/machine/*/sin_lut_sirius_52_181/*.coe
!/hdl/modules/machine/*/sin_lut_sirius_52_181/*.mif
!/hdl/modules/machine/*/sin_lut_sirius_52_181/synth/*.vhd
/hdl/modules/machine/*/cos_lut_sirius_52_181
!/hdl/modules/machine/*/cos_lut_sirius_52_181/*.xci
!/hdl/modules/machine/*/cos_lut_sirius_52_181/*.xml
!/hdl/modules/machine/*/cos_lut_sirius_52_181/*.coe
!/hdl/modules/machine/*/cos_lut_sirius_52_181/*.mif
!/hdl/modules/machine/*/cos_lut_sirius_52_181/synth/*.vhd
/hdl/modules/machine/*/sin_lut_sirius_50_191
!/hdl/modules/machine/*/sin_lut_sirius_50_191/*.xci
!/hdl/modules/machine/*/sin_lut_sirius_50_191/*.xml
!/hdl/modules/machine/*/sin_lut_sirius_50_191/*.coe
!/hdl/modules/machine/*/sin_lut_sirius_50_191/*.mif
!/hdl/modules/machine/*/sin_lut_sirius_50_191/synth/*.vhd
/hdl/modules/machine/*/cos_lut_sirius_50_191
!/hdl/modules/machine/*/cos_lut_sirius_50_191/*.xci
!/hdl/modules/machine/*/cos_lut_sirius_50_191/*.xml
!/hdl/modules/machine/*/cos_lut_sirius_50_191/*.coe
!/hdl/modules/machine/*/cos_lut_sirius_50_191/*.mif
!/hdl/modules/machine/*/cos_lut_sirius_50_191/synth/*.vhd

# Modelsim files
*log.txt
*transcript
*vstf
*wlf
*work
*Makefile
*.ini

# Emacs Files
\#*
*.tramp_history


# Vivado files and directories
*.jou
/hdl/testbench/wbstream/tb_sink/
/wb_stream_sink/
/project_wrapper/
*.runs/
*.cache/
*.srcs/
*.xpr
*.str

# Temporary files
*~

# Others
/hdl/testbench/wbs_mixer_part_delta_sigma/
