# Matlab files
*.asv
*.log

# Swap files
*.orig
*.swap
*.bak

# Repo-specific files
*.samples
/bpm-sim/Matlab/bpm/dbe/matlab.mat
/bpm-sim/Matlab/bpm/dbe/dds_cos.nif
/bpm-sim/Matlab/bpm/dbe/dds_sin.nif
/bpm-sim/Matlab/dds_cos.nif
/bpm-sim/Matlab/dds_sin.nif

# Modelsim files
*log.txt
*transcript
*vstf
*wlf
*work
*Makefile
*.ini

# Vivado files and directories
*.jou
/hdl/testbench/wbstream/tb_sink/
/wb_stream_sink/
/project_wrapper/
*.str


# Emacs Files
\#*

# Temporary files
*~
